[Unit]
Description=WiFi connect service
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/local/etc/wifi-connect/start.sh
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=wifi-connect
Type=idle
User=root

[Install]
WantedBy=multi-user.target
